@use "../util/functions" as f;
@use "../util/mixins" as m;

body {
  padding: f.rem(40) 24px;
  background: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    ),
    var(--clr-bg-main);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  font-family: "Josefin Sans", sans-serif;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: f.rem(24);
}

.heading {
  margin-top: f.rem(8);
  font-size: f.rem(26);
  font-weight: 700;
  letter-spacing: f.rem(10);
  text-transform: uppercase;
  line-height: 1;
  color: white;
}

.theme-button {
  @include m.center-content;
  width: f.rem(26);
  height: f.rem(26);
  border-radius: 50%;
  transition: transform 100ms linear;

  &:hover,
  &:focus-visible {
    transform: scale(1.2);
  }

  &:focus-visible {
    @include m.outline-styles;
  }

  &__icon {
    fill: #fff;
    transition: fill 100ms linear;

    &--hidden {
      display: none;
    }
  }

  &:hover > &__sun-icon,
  &:focus-visible > &__sun-icon {
    fill: #ffdc3f;
  }

  &:hover > &__moon-icon,
  &:focus-visible > &__moon-icon {
    fill: #7393b3;
  }
}

.todo-list-container {
  font-size: f.rem(12);
}

.new-task {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  margin-bottom: f.rem(16);
  background: var(--clr-bg-secondary);
  border-radius: 5px;
  box-shadow: 0 20px 30px var(--clr-shadow);
  caret-color: var(--clr-bright-blue);

  &__task {
    width: 100%;
    border: none;
    background: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: f.rem(13);
    color: var(--clr-font-main);

    &:focus {
      outline: none;
    }
  }
}

.checkbox {
  cursor: pointer;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  width: f.rem(20);
  height: f.rem(20);
  margin-right: 10px;
  background: var(--clr-font-secondary);
  border-radius: 50%;

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }

  &:hover,
  &--completed {
    background: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }

  &__inner-circle {
    display: grid;
    place-items: center;
    width: f.rem(18);
    height: f.rem(18);
    background: var(--clr-bg-secondary);
    border-radius: 50%;

    &--completed {
      background: none;
    }
  }

  &__check-mark {
    display: none;

    &--completed {
      display: block;
    }
  }
}

.todo-list {
  box-shadow: 0 20px 30px var(--clr-shadow);
}

.tasks {
  margin-bottom: f.rem(16);
  background: var(--clr-bg-secondary);
  border-radius: 5px;
}

.task {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid var(--clr-border);

  &--hidden {
    display: none;
  }

  &__text {
    width: 100%;
    margin-right: 16px;
    color: var(--clr-font-main);
    caret-color: var(--clr-bright-blue);

    &:focus {
      outline: none;
      border-bottom: 1px solid white;
    }

    &--completed {
      text-decoration: line-through;
      color: var(--clr-font-secondary);
    }
  }

  &__button {
    flex-shrink: 0;
    width: f.rem(18);
    height: f.rem(18);
    margin-left: auto;
    border-radius: 2px;
    transition: transform 100ms linear;

    &:hover,
    &:focus-visible {
      transform: scale(1.3);
    }

    &:focus-visible {
      @include m.outline-styles;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__edit-button {
    &--hidden {
      display: none;
    }
  }

  &__submit-button {
    &--hidden {
      display: none;
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  color: var(--clr-font-tertiary);

  &__clear-button {
    border-radius: 2px;

    &:hover,
    &:focus-visible {
      color: var(--clr-font-hover);
    }

    &:focus-visible {
      @include m.outline-styles;
    }
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  margin-bottom: f.rem(40);
  background: var(--clr-bg-secondary);
  border-radius: 5px;
  box-shadow: 0 20px 30px var(--clr-shadow);

  &__filter {
    font-size: f.rem(14);
    font-weight: 700;
    color: var(--clr-font-secondary);
    border-radius: 2px;

    &:not(:last-child) {
      margin-right: f.rem(18);
    }

    &:hover,
    &:focus-visible {
      color: var(--clr-font-hover);
    }

    &:focus-visible {
      @include m.outline-styles;
    }

    &--selected {
      color: var(--clr-bright-blue);
      pointer-events: none;
    }
  }
}

.tip {
  font-size: f.rem(14);
  text-align: center;
  color: var(--clr-font-tertiary);
}
