@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin remove-link-styles {
  color: inherit;
  text-decoration: none;
}

@mixin margin-padding-reset {
  margin: 0;
  padding: 0;
}

@mixin outline-styles {
  outline: 2px solid white;
  outline-offset: 2px;
}

@mixin drop-indicator {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--clr-bright-blue);
  border-radius: 1000px;
}
